[submodule "blindLunchApi"]
	path = blindLunchApi
	url = https://github.com/TillaTheHun0/blindLunchApi
[submodule "blindLunchClient"]
	path = blindLunchClient
	url = https://github.com/TillaTheHun0/blindLunchClient
